name: Flutter CI

on: [pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.35.5"
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Run static analysis
        run: flutter analyze

      - name: Run unit tests
        run: flutter test --coverage

      - name: Install lcov
        run: sudo apt-get install -y lcov

      - name: Show coverage summary
        run: lcov --summary coverage/lcov.info

      - name: Report coverage to PR
        uses: zgosalvez/github-actions-report-lcov@v3
        with:
          coverage-files: coverage/lcov.info
          artifact-name: coverage_report
          github-token: ${{ secrets.GITHUB_TOKEN }}
